<footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Around Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/qwerrun/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#exampleModal" class="btn-social btn-outline" style="cursor:pointer" ><i class="fa fa-envelope-o"></i></a>
                            </li>
                        </ul>
                        
                        <!-- OPEN SOURCE MODAL -->
                        <a data-toggle="modal" data-target="#myModal" data-toggle="modal" data-target="#myModal" style="cursor:pointer">open source</a><br>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel" style = "color: black;">오픈 소스</h4>
                              </div>
                              <div class="modal-body" style = "color: black;">
                                  <h4>template</h4>
                                  http://startbootstrap.com/template-overviews/freelancer/
                                  <h4>Gem</h4>
                                  01. figaro(https://github.com/laserlemon/figaro)<br>
                                  02. mailgun_rails(https://github.com/jorgemanrubia/mailgun_rails)
                                  <h4>Jquery</h4>
                                  01. select2(https://select2.github.io/)<br>
                                  02. 검색할때 사용한 폼(http://jsfiddle.net/giorgitbs/52ak9/1/)
                                  <br><br><br>
                                  <h5>*해당 사이트는 위의 오픈 소스를 이용하였습니다.*</h5>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        Copyright &copy; qwer.run
                    </div>
                </div>
            </div>
        </div>
    </footer>
    