<style>
    .modal-backdrop {
      z-index: -1;
    }
</style>

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">QWER.run</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li >
                        <a data-toggle="modal" data-target="#exampleModal" data-toggle="modal" data-target="#myModal"  style="cursor:pointer">Contact</a>
                    </li>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <!-- 메일 보내기 시작 -->
              <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title" id="exampleModalLabel" style = "color:black;">건의 & 학교추가</h4>
                     </div>
                     <div class="modal-body">
                        <form class="form-horizontal" action = "/home/email_send" method = "POST">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                              <p class="form-control-static">qwer_run@naver.com</p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="email_address" class="col-sm-2 control-label">보내는이</label>
                            <div class="col-sm-10">
                              <input type="email" name = "flyer" class="form-control" id="email_address" placeholder="이메일을 입력해 주세요">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">내용</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" name = "content" rows="5" placeholder = "내용을 입력해 주세요"></textarea>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">보내기</button>
                          </div>
                        </form>
                     </div>
                 </div>
                </div>
             </div>   
             <!-- 메일 보내기 끝 -->
