    <style>
        .btn-default {
            background-color:white;
            color:black;
            border-color: #dce4ec;
        }
        .btn-default:hover{
            background-color:white;
            color:black;
            border-color: #dce4ec;
        }
    </style>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">QWER.run</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li >
                        <a data-toggle="modal" data-target="#exampleModal" style="cursor:pointer">Contact</a>
                    </li>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <!-- 메일 보내기 시작 -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title" id="exampleModalLabel" style = "color:black;">건의 & 학교추가</h4>
                     </div>
                     <div class="modal-body">
                        <form class="form-horizontal" action = "/home/email_send" method = "POST">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                              <p class="form-control-static">qwer_run@naver.com</p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="email_address" class="col-sm-2 control-label">보내는이</label>
                            <div class="col-sm-10">
                              <input type="email" name = "flyer" class="form-control" id="email_address" placeholder="이메일을 입력해 주세요">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">내용</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" name = "content" rows="5" placeholder = "내용을 입력해 주세요"></textarea>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">보내기</button>
                          </div>
                        </form>
                     </div>
                 </div>
                </div>
             </div>   
             <!-- 메일 보내기 끝 -->
    
    <!-- Header -->
    
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/img/profile.png" alt="로고">
                    <br>
                    <div class = "row">
                        <div class = "col-md-3"></div>
                        <div class = "col-md-6">
                            <form action = "/home/school" method = "GET">
                              <div class="form-group ">
                                <input type="text" name = "name" class="form-control" placeholder="소환사 이름을 적어주세요..">
                              </div>
                              <input type="submit" class="btn btn-primary" value = "검색"></button>
                            </form> 
                        </div>
                        <div class = "col-md-3"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>

    
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>대학교</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/univ_img/조선대.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/univ_img/전남대.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/univ_img/인하대.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    



    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Around Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#exampleModal" class="btn-social btn-outline" style="cursor:pointer"><i class="fa fa-envelope-o"></i></a>
                            </li>
                        </ul>
                        Copyright &copy; qwer.run
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>조선대학교</h2>
                            <hr class="star-primary">
                            <img src="/univ_img/조선대.png" class="img-responsive img-centered" alt="">
                            <h4>재미있는 통계로 찾아 뵙겠습니다.<br><br> 조금만 기다려 주세요 ㅠㅠ</h4><br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>전남대학교</h2>
                            <hr class="star-primary">
                            <img src="/univ_img/전남대.png" class="img-responsive img-centered" alt="">
                            <h4>재미있는 통계로 찾아 뵙겠습니다.<br><br> 조금만 기다려 주세요 ㅠㅠ</h4><br>  
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>인하대학교</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                            <h4>재미있는 통계로 찾아 뵙겠습니다.<br><br> 조금만 기다려 주세요 ㅠㅠ</h4><br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

   
    
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- submit check jquery -
    <script src="/validator.js"></script>->

    <!-- Plugin JavaScript -->
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>
    
