<div class = "container">
    <br><br>
    <div class = "row">
            <h4>금지할 플레이어 추가</h4>
            <form action = "/home/ban_save" method = "get">
                <input type = "text" name = "ban_name" placeholder = "금지할 플레이어 추가">
                <input type = "submit" value = "등록">
            </form>
    </div>
    <br><br><br><br>
    <div class = "row">
            <h4>학교&전공추가</h4>
            <form action = "/home/univadd" method = "get">
                <input type = "text" name = "name" placeholder = "ex_전남대 행정학과">
                <input type = "submit" value = "등록">
            </form>
    </div>
    
</div>


